body{
  background-image: url(back.png);
}

div.gallery {
  border: 1px solid #ccc;
  width: 400px;
  background-color: black;
  float: left;
}

div.gallery:hover {
  border: 1px solid rgb(65, 65, 65);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: black;
  color: white;
  letter-spacing: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
}

div.main {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#titulo {
  background-color: white;
  color: black;
  letter-spacing: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ccc;
}

div.info {
  float: right;
  text-align: left;
  background-color: black;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  margin-left: 10px;
}

div.partearriba {
  background-color: black;
  color: white;
  letter-spacing: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  width: 100%;
}

#botonfin {
  float: right;
}

#botonlogin {
  float: left;
}

#aviso {
  background-color: white;
  color: black;
  letter-spacing: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
}

#boton {
  background-color: black;
  border: 1px solid #ccc;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  float: right;
}

#boton:hover {
  border: 1px solid rgb(65, 65, 65);
}

#autocompletar {
  position: relative;
  display: inline-block;
}

#caja {
  border: 1px solid transparent;
  background-color: white;
  font-size: 16px;
  width: 200px;
  float: left;
}

#display1 {
  background-color: white;
  color: black;
}

#botonbuscar {
  float: left;
}