body {
    background-color: black;
    width: 100%;
    color: greenyellow;
    font-family: "Roboto Mono", serif;
    font-size: 18px;
}

h1 {
    background-color: greenyellow;
    color: black;
}

h2 {
    color: red;
}

#datos {
    width: 50%;
    border-color: greenyellow;
    float: left;
}

#mensajes {
    width: 50%;
    border-color: greenyellow;
    float: right;
}

input {
    background-color: black;
    color: greenyellow;
    font-family: "Roboto Mono", serif;
    font-size: 18px;
    border-color: greenyellow;
    width: 100%;
    height: 30px;
}

input:hover {
    border-color: green;
    color: green;
}

@font-face {
    font-family: "Roboto Mono";
    src: url('RobotoMono-Regular.ttf');
}

.info {
    color: red;
}